*{
    margin: 0px;
    padding: 0px;
}



.menu-container{
    background-color: rgba(120, 20, 213, 0.544);
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
}

.logo-photo{
    width: 190px;
    margin-right: 300px;
   
}

.menus{
    display: flex;
}

.item{
   margin-right: 40px;
   padding-right: 7px;
   font-size: 20px;
   cursor: pointer;
}

.item:hover{
    color: red;
}
.banner-img{
    width: 360px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    color: white;
    align-items: center;
    /* border: 2px solid green; */
    background-image: url('images/background.jpg'), linear-gradient(65deg, rgba(125, 121, 121, 0.905), rgba(114, 112, 112, 0.774));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}

.colour{
    color: red;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}

.about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
    padding: 10px;
}

.about-title{
    text-align: center;
    padding-top: 20px;
}

.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    text-align: center;
    background-color: black;
    padding: 15px;
    color: white;
}

.box-btn{
    background-color: grey;
    margin-top: 10px;
}

.box-title{
    padding: 10px;
}

.box-description{
    padding: 5px;  
}

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-image: url('images/background.jpg'), linear-gradient(65deg, rgba(125, 121, 121, 0.905), rgba(114, 112, 112, 0.774));
}