*{
    margin: 0px;
    padding: 0px;
}



.menu-container{
    background-color: rgba(120, 20, 213, 0.544);
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 45px;
}

.logo-photo{
    width: 190px;
    margin-right: 300px;
   
}

.menus{
    display: flex;
}

.item{
   margin-right: 40px;
   padding-right: 7px;
   font-size: 20px;
   cursor: pointer;
}

.item:hover{
    color: red;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    color: white;
    align-items: center;
    /* border: 2px solid green; */
    background-image: url('images/background.jpg'), linear-gradient(45deg, rgba(60, 58, 58, 0.7), rgb(71, 69, 69));
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
}

.description{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn{
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}